@import "./variable.scss";
@import "./custom.scss";

body {
  & * {
    font-family: $mainFont!important;
  }
  .alarm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    color: #000;
    background: $mainColor;
    padding: 0 20px;
    font-size: 24px;
    line-height: 32px;
    span {
      margin: 0 12px;
      text-align: center;
    }
  }
  header {
    width: 100%;
    height: 142px;
    background: #FFF;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-button {
      display: none;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
    }
    .logo {
      display: flex;
      align-items: center;
      img:first-child {
        margin-right: 53px;
      }
    }
    .menu {
      ul {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li {
          list-style-type: none;
          margin-left: 50px;
          a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            line-height: 27px;
          }
        }
      }
    }
    .get-quote {
      width: 289px;
      height: 57px;
      background: #33BA39;
      color: #FFF;
      border-radius: 20px;
      border: none;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 786px;
    background: url("../imgs/banner_bg.jpg");
    background-size: cover;
    padding: 52px 20px 42px;
    .heading-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        text-align: center;
        font-size: 64px;
        line-height: 85px;
        margin-bottom: 0;
      }
      .descr {
        text-align: center;
        font-size: 28px;
        line-height: 37px;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .enter-text {
        color: $mainColor;
        margin-bottom: 0;
        text-align: center;
        font: {
          size: 28px;
          family: $Patrick!important;
        }
        line-height: 37px;
      }
      .descr {
        text-align: center;
        font: {
          size: 28px;
          family: $Patrick!important;
        }
        line-height: 37px;
        color: #FFF;
        margin-bottom: 9px;
      }
      input {
        max-width: 430px;
        width: 100%;
        height: 57px;
        background: #FFF;
        color: rgba(0, 0, 0, 0.4);
        border: 2px solid #707070;
        border-radius: 30px / 20px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
      }
      button {
        max-width: 430px;
        width: 100%;
        height: 57px;
        background: #33BA39;
        color: #FFF;
        border-radius: 20px;
        border: none;
        font-size: 24px;
      }
    }
  }
  .live-link {
    background: #111111;
    width: 100%;
    min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FFF;
    div {
      margin-right: 20px;
    }
    img {
      margin: 0 15px;
    }
  }
  .section-1 {
    background: $mainColor;
    width: 100%;
    padding: 20px;
    min-height: 141px;
    p {
      text-align: center;
    }
    p:first-child {
      font-size: 48px;
      line-height: 49px;
      margin-bottom: 9px;
    }
    p:last-child {
      font-size: 28px;
      line-height: 29px;
      margin-bottom: 0;
    }
  }
  .section-2 {
    &>div>div {
      padding: 0;
      .bg {
        width: 100%;
      }
    }
  }
  .section-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #111111;
    padding: 74px 0 50px 0;
    .title {
      font-size: 48px;
      line-height: 49px;
      margin-bottom: 30px;
      color: #FFF;
      text-align: center;
      span {
        color: $mainColor;
      }
    }
    video {
      margin-bottom: 48px;
    }
    .button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        max-width: 430px;
        width: 100%;
        height: 57px;
        font-size: 24px;
        background: $mainColor;
        border-radius: 20px;
        border: none;
        margin-bottom: 16px;
      }
      a {
        font-size: 24px;
        font-family: $Patrick;
        color: #FFFFFF;
        text-decoration: underline;
      }
    }
  }
  .section-4 {
    background: $mainColor;
    padding: 81px 140px 53px;
    .title {
      font-size: 48px;
      margin-bottom: 0;
      text-align: center;
    }
    .descr {
      font-size: 28px;
      margin-bottom: 60px;
      text-align: center;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 25px;
      }
      p {
        font-size: 28px;
      }
    }
  }
  .section-5 {
    img {
      width: 100%;
      padding: 50px 0;
    }
  }
  .section-6 {
    background: #4C14A4;
    padding: 67px 200px 0;
    .title {
      font: {
        size: 48;
        weight: bold;
        family: $Poppins;
      }
      line-height: 62px;
      color: white;
      margin-bottom: 0;
    }
    .descr {
      font: {
        family: $Poppins;
        size: 18px;
      }
      margin-bottom: 30px;
      color: #FFF;
    }
    ul {
      padding-left: 0;
      li {
        list-style-type: none;
        color: #FFF;
        margin-bottom: 26px;
        font: {
          family: $Poppins;
          size: 26px;
        }
      }
    }
    button {
      max-width: 430px;
      width: 100%;
      height: 65px;
      color: #FFF;
      background: #1FB256;
      border-radius: 20px;
      border: none;
      font: {
        size: 24px;
        weight: bold;
        family: $Poppins;
      }
    }
  }
  .section-7 {
    padding: 69px 0 0;
    p {
      padding: 0 20px;
      font-size: 48px;
      margin-bottom: 42px;
      line-height: 49px;
      text-align: center;
      span {
        color: $mainColor;
      }
    }
    video {
      width: 100%;
    }
  }
  .section-8 {
    padding: 135px 140px;
    background: $mainColor;
    .div1 {
      display: flex;
      align-items: center;
      .title {
        font-size: 56px;
        line-height: 58px;
      }
      .descr {
        font-size: 26px;
        margin-bottom: 32px;
      }
      button {
        background: #33BA39;
        height: 76px;
        max-width: 485px;
        width: 100%;
        font-size: 28px;
        border-radius: 20px;
        color: #FFF;
        border: none;
      }
    }
  }
  .section-9 {
    .div2 {
      padding: 0 103px;
      background: #4C14A4;
      display: flex;
      align-items: center;
      font-size: 32px;
      color: white;
    }
  }
  .section-10 {
    width: 100%;
    min-height: 126px;
    background: #111111;
    padding: 35px 0px;
    display: flex;
    .div1 {
      .title {
        font-size: 32px;
        margin-bottom: 0;
        span {
          color: $mainColor;
        }
      }
    }
    .div2 {
      input {
        width: 437px;
        height: 57px;
        background: #FFF;
        color: rgba(0, 0, 0, 0.4);
        font-size: 24px;
        border-radius: 30px / 20px;
        border: 2px solid #707070;
        text-align: center;
        margin-left: 64px;
        margin-right: 20px;
      }
      button {
        width: 305px;
        height: 57px;
        color: #FFF;
        background: $mainColor;
        font-size: 24px;
        border-radius: 20px;
        border: none;
      }
    }
  }
}

#sidebar.active {
  margin-left: 0!important;
}
#sidebar {
  padding: 70px 0;
  text-align: center;
  background: white;
  width: 100%;
  height: 100vh;
  margin-left: 100%;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  left: 0;
  z-index: 9999;
  .sidebar-header {
    top: 100px;
  }
  .sidebar-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    & * {
      color: #000;
      font: {
        size: 20px;
        weight: bold;
      }
    }
    ul {
      padding-left: 0;
      width: 100%;
      max-width: 500px;
      li {
        list-style-type: none;
        height: 45px;
        margin-bottom: 5px;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #000;
          border-radius: 12px;
          text-decoration: none;
          &:hover {
            background: #000;
            color: white;
          }
        }
        .dropdown-menu {
          border-radius: 12px;
          padding: 20px;
          width: calc(100% - 40px);
          border: 2px solid #000;
          li {
            a {
              justify-content: flex-start;
              padding-left: 70px;
              img {
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
    .sidebar-quote {
      max-width: 500px;
      color: white;
      border: none;
      width: 100%;
      height: 55px;
      background: #33BA39;
      border-radius: 12px;
    }
  }
}
#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    img {
      width: 100%;
      height: 100%;
    }
}

@media(max-width: 1800px) {
  body {
    header {
      padding: 0 20px;
    }
  }
}

@media(max-width: 1550px) {
  body {
    .alarm {
      font-size: 18px;
      line-height: 22px;
    }
    header {
      padding: 0 140px;
      .menu, .button-group {
        display: none;
      }
      .menu-button {
        display: inline;
      }
    }
  }
}

@media(max-width: 900px) {
  header {
    padding: 0 20px!important;
  }
}

@media(max-width: 600px) {
  body {
    .alarm {
      font-size: 12px;
      line-height: 15px;
    }
    header {
      .logo {
        img:last-child {
          display: none;
        }
      }
    }
    .banner {
      .heading-text {
        .heading {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
  }
}